h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    padding-left: 1em;
}

.headerQuote h3 {
    font-style: italic;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

blockquote h3 {
    font-style: italic;
}

blockquote p {
    font-family: 'Space Mono', monospace;
}

.ui-block-a, ui-block-b, ui-block-c {
    padding: 0 0.5em 0 0.5em;
}

p {
    line-height: 150%;
}

.theForm, .theTable {
    padding: 0em 4em;
}

th {
    background-color: #e9e9e9;
}

a {
    text-decoration: none;
}

@media (max-width: 600px) {
  #pic  {
    display: none;
  }
}

